@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	min-height: 100vh;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #f7fafc;
}
input {
	outline: none;
	background-color: #f7fafc;
}

.meeting-container {
	@apply flex justify-between items-center p-2;
}

.meeting-info {
	@apply font-semibold mr-2;
}

.swiper-pagination-bullet {
	@apply bg-slate-300 opacity-50;
}

.swiper-pagination-bullet-active {
	@apply bg-slate-600 opacity-100;
}
.active {
	@apply rounded-full
            h-8
            w-8
            flex
            items-center
            justify-center
            font-bold
            text-white
            bg-[#546CC9]
            mr-2
            transition
            duration-500;
}
.activated {
	@apply rounded-full
            h-8
            w-8
            flex
            items-center
            justify-center
            font-bold
            bg-green-600
            text-white
            mr-2;
}
.active-hr {
	@apply border
            border-green-600
            w-full
            transition
            duration-500
            ease-in-out;
}
.otp-input {
	@apply border
            border-black
            rounded-full
            h-8
            w-8
            flex
            items-center
            justify-center
            font-bold
            text-white
            bg-black
            mr-2;
}

.active-date {
	@apply flex items-center px-1 justify-center w-14 h-14 cursor-pointer mt-2
  border-2 border-[#546CC9] rounded-md transition duration-500 ease-in-out;
}

.margin {
	margin-block-start: auto;
}

.loader {
	width: 48px;
	height: 48px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loader:before {
	content: "";
	width: 48px;
	height: 5px;
	background: #999;
	position: absolute;
	top: 60px;
	left: 0;
	border-radius: 50%;
	animation: shadow324 0.5s linear infinite;
}

.loader:after {
	content: "";
	width: 100%;
	height: 100%;
	background: rgb(61, 106, 255);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4px;
	animation: jump7456 0.5s linear infinite;
}
.arial {
	font-family: Arial, Helvetica, sans-serif;
}

.rdtPicker {
	right: 0;
}

.rdtDays {
	width: 15em;
}

.MuiStack-root {
	overflow: hidden;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
	border: none !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
	color: #3c3744 !important;
	font-family: "Lato", sans-serif !important;
	font-weight: 600 !important;
}
.css-1pduc5x-MuiStack-root {
	overflow: hidden !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
	padding: 0px !important;
}

@keyframes jump7456 {
	15% {
		border-bottom-right-radius: 3px;
	}

	25% {
		transform: translateY(9px) rotate(22.5deg);
	}

	50% {
		transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 40px;
	}

	75% {
		transform: translateY(9px) rotate(67.5deg);
	}

	100% {
		transform: translateY(0) rotate(90deg);
	}
}

@keyframes shadow324 {
	0%,
	100% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(1.2, 1);
	}
}
@media (max-width: 1400px) {
	.nav-link {
		display: none;
	}
}

.embla {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.2em;
	height: 2.2rem;
	margin-left: auto;
	margin-right: auto;
	border: 0.5px solid #546cc9;
	border-radius: 0.5rem;
	overflow: hidden;
}
.embla:before,
.embla:after {
	position: absolute;
	left: 0;
	right: 0;
	content: "";
	display: block;
	height: calc(50% - 32px / 2);
	z-index: 1;
	pointer-events: none;
}
.embla:before {
	top: -0.5px;
	border-bottom: 0.5px solid rgba(var(--text-high-contrast-rgb-value), 0.3);
	background: linear-gradient(
		to top,
		rgba(var(--background-code-rgb-value), 0.65) 0%,
		rgba(var(--background-code-rgb-value), 1) 100%
	);
}
.embla:after {
	bottom: -0.5px;
	border-top: 0.5px solid rgba(var(--text-high-contrast-rgb-value), 0.3);
	background: linear-gradient(
		to bottom,
		rgba(var(--background-code-rgb-value), 0.65) 0%,
		rgba(var(--background-code-rgb-value), 1) 100%
	);
}
.embla__ios-picker {
	height: 100%;
	display: flex;
	align-items: center;
	min-width: 50%;
	justify-content: center;
	line-height: 1;
	font-size: 1.8rem;
}
.embla__ios-picker__scene {
	min-width: 100%;
	height: 100%;
	overflow: hidden;
}
.embla__ios-picker__viewport {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	perspective: 1000px;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: transparent;
}
.embla__ios-picker__viewport--perspective-left {
	perspective-origin: calc(50% + 130px) 50%;
	transform: translateX(27px);
}
.embla__ios-picker__viewport--perspective-right {
	perspective-origin: calc(50% - 130px) 50%;
	transform: translateX(-27px);
}
.embla__ios-picker__container {
	height: 32px;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	will-change: transform;
}
.embla__ios-picker__slide {
	position: absolute;
	top: 0 !important;
	left: 0 !important;
	width: 100%;
	height: 100%;
	font-size: 19px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	backface-visibility: hidden;
	opacity: 0;
}
.embla__ios-picker__label {
	font-weight: 700;
	transform: translateX(-55px);
	pointer-events: none;
}
